---
import SectionContainer from "../components/SectionContainer.astro";
import MainSection from "../sections/MainSection.astro"
import HeroesSection from '../sections/HeroesSection.astro'
import Layout from "../layouts/Layout.astro";
---

<Layout title="InfoHeroes">
	<main class="px-4">
		<SectionContainer class="pb-32" id="inicio">
			<MainSection/>
		</SectionContainer>

		<SectionContainer>
			<div class="mb-5">
				<h1 class="text-xl font-semibold">SuperHeroes</h1>
			</div>
			
			<HeroesSection/>
		</SectionContainer>
	</main>
</Layout>
