---
const LINK = {
  MARVEL: {
    name: "MARVEL",
    class: "text-white hover:text-marvel",
   
  },
  DC: {
    name: "DC",
    class: "text-white hover:text-dc",
   
  },
};
---

<nav class="mx-auto lg:w-[900px] md: w-full border-b-2 bg-background-header rounded-b-2xl animate-fade-in">
    <div class=" flex flex-wrap items-center justify-between p-4">
      <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
          <span id="HeaderFont" class=" self-center text-4xl whitespace-nowrap dark:text-white">InfoHeroes Blog</span>
      </a>
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul class="font-medium flex flex-col p-4 md:p-0 mt-4  md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 ">
            {Object.values(LINK).map((link) => ( 
                  <li>
            <a href="#" class={`block text-2xl py-2 px-3 ${link.class}`}>{link.name}</a>
          </li>
              ))}
        </ul>
      </div>
    </div>
  </nav>
  