<section class="relative my-8  animate-fade-in ">
    <img
        src="/dcBanner.webp"
        alt="main image"
        class="w-full h-auto border-2 border-black"
    />
    <div class="absolute left-10 right-0 -bottom-5">
        <div
            class="relative block max-w-sm p-5 bg-white rounded-md border-2 border-black shadow-xl animate-slide-up-fade animate-duration-slower animate-delay-500"
        >
            
        <div class="absolute inset-0 -z-10 h-full w-full bg-white bg-[radial-gradient(#e5e7eb_3px,transparent_3px)] [background-size:24px_24px]"></div>
            <h5
                id="MainFont"
                class="mb-2 text-2xl md:text-4xl font-bold tracking-tight text-gray-900/100"
            >
           <span class="text-3xl md:text-5xl">"</span>  
           Dive into the Mighty <span id="dcMain" class="text-dc">DC </span>Universe and Unleash the Hero Within.
           <span class="text-3xl md:text-5xl">"</span>
            </h5>

            <hr class="border-2">
        </div>
    </div>
</section>
