---
import { TAGS } from "../content/superHeroes.js";
---

<section class="relative my-8 animate-fade-in ">
    <img
        src="/HomeBanner.jpg"
        alt="main image"
        class="w-full h-auto rounded-xl"
    />
    <div class="absolute left-10 right-0 -bottom-10">
        <div
            class="block max-w-sm p-5 bg-white border border-gray-200 rounded-lg shadow-lg animate-fade-in animate-duration-slower animate-delay-500"
        >
            <div class="flex  gap-3">
                {
                    Object.values(TAGS).map((tag) => (
                        <img src={tag.logo} alt={tag.name} />
                    ))
                }
            </div>

            <h5
                id="MainFont"
                class="mb-2 text-4xl font-bold tracking-tight text-gray-900/100"
            >
                InfoHeroes Blog
            </h5>

            <hr >
        </div>
    </div>
</section>
